img.user-icon {
  width: 90px;
  display: inline-block;
  vertical-align: middle;
}

.collection-item {
}

.user-stats {
  display: inline-block;
  padding-left: 15px;
  vertical-align: top;
  padding-top: 23px;
}

.score-collection {
  width: 400px;
  margin: 0 auto;
}
